In [3]:
import pandas as pandas

In [4]:
import re

In [9]:
employment_file_location = 'https://github.com/Oliver156-dev/PUBPOL542/blob/main/PUBPOL%20542%20Employment%20Data.xlsx?raw=true'
DF_employment = pandas.read_excel(employment_file_location)
display(DF_employment1)

,country,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,0.453,0.462,0.454,0.455,0.474,0.460,0.460,0.460,0.459,...,0.484,0.487,0.491,0.494,0.494,0.495,0.495,0.495,0.496,0.496
1,Albania,0.508,0.506,0.487,0.484,0.481,0.482,0.489,0.488,0.483,...,0.453,0.449,0.468,0.477,0.483,0.474,0.473,0.472,0.472,0.471
2,Algeria,0.344,0.337,0.331,0.326,0.307,0.321,0.332,0.324,0.315,...,0.394,0.371,0.368,0.372,0.372,0.372,0.372,0.371,0.369,0.367
3,Angola,0.598,0.597,0.597,0.595,0.592,0.592,0.592,0.592,0.593,...,0.722,0.722,0.721,0.717,0.713,0.709,0.706,0.703,0.700,0.697
4,Argentina,0.565,0.563,0.542,0.534,0.491,0.503,0.521,0.537,0.529,...,0.561,0.555,0.557,0.547,0.548,0.548,0.549,0.545,0.542,0.539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,Venezuela,0.560,0.574,0.583,0.572,0.564,0.556,0.563,0.565,0.543,...,0.596,0.599,0.599,0.591,0.588,0.586,0.587,0.585,0.584,0.582
175,Vietnam,0.761,0.761,0.761,0.760,0.759,0.758,0.750,0.754,0.754,...,0.766,0.771,0.768,0.766,0.766,0.765,0.764,0.762,0.759,0.757
176,Yemen,0.407,0.410,0.413,0.414,0.416,0.416,0.416,0.415,0.415,...,0.322,0.320,0.324,0.328,0.326,0.325,0.325,0.324,0.323,0.322
177,Zambia,0.646,0.642,0.638,0.647,0.656,0.674,0.686,0.697,0.693,...,0.693,0.692,0.691,0.690,0.690,0.689,0.689,0.689,0.689,0.689
178,Zimbabwe,0.710,0.711,0.708,0.705,0.699,0.693,0.684,0.677,0.669,...,0.787,0.789,0.790,0.791,0.794,0.797,0.799,0.802,0.804,0.806

In [10]:
Refined_Columns = ['country',2015]
DF_employment2015 = DF_employment[Refined_Columns]
display(DF_employment2015)

         country   2015
0    Afghanistan  0.491
1        Albania  0.468
2        Algeria  0.368
3         Angola  0.721
4      Argentina  0.557
..           ...    ...
174    Venezuela  0.599
175      Vietnam  0.768
176        Yemen  0.324
177       Zambia  0.691
178     Zimbabwe  0.790

[179 rows x 2 columns]

In [11]:
DF_employment2015.rename(columns= {2015:'Employment'}, inplace= True)
display(DF_employment2015)

/Users/OliverHirn/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

         country  Employment
0    Afghanistan       0.491
1        Albania       0.468
2        Algeria       0.368
3         Angola       0.721
4      Argentina       0.557
..           ...         ...
174    Venezuela       0.599
175      Vietnam       0.768
176        Yemen       0.324
177       Zambia       0.691
178     Zimbabwe       0.790

[179 rows x 2 columns]

In [12]:
DF_employment2015Revised = DF_employment2015.replace({
     'Congo, Dem. Rep.':'Democratic Republic of the Congo',
    'Congo, Rep.': 'Republic of the Congo',
    'Kyrgyz Republic': 'Kyrgyzstan',
    'Slovak Republic': 'Slovakia'
})
display(DF_employment2015Revised)

         country  Employment
0    Afghanistan       0.491
1        Albania       0.468
2        Algeria       0.368
3         Angola       0.721
4      Argentina       0.557
..           ...         ...
174    Venezuela       0.599
175      Vietnam       0.768
176        Yemen       0.324
177       Zambia       0.691
178     Zimbabwe       0.790

[179 rows x 2 columns]

In [13]:
DF_employment2015Revised[DF_employment2015Revised['country'] == 'Slovakia']

      country  Employment
140  Slovakia       0.528

In [14]:
DF_employment2015Revised.to_excel('OliverRevisedData.xlsx')

In [15]:
DF_employment2015Revised.to_excel(r'/Users/OliverHirn/Desktop/OliverRevisedData.xlsx', sheet_name='employment', index = False)

In [17]:
region_file_location = 'https://github.com/PUBPOL542G3/pythondeliverable-/blob/main/Regions.xlsx?raw=true'
DF_Regions = pandas.read_excel(region_file_location,sheet_name='list-of-countries-etc')
display(DF_Regions)

,geo,name,four_regions,eight_regions,six_regions,members_oecd_g77,Latitude,Longitude,UN member since,World bank region,"World bank, 4 income groups 2017","World bank, 3 income groups 2017"
0,dza,Algeria,africa,asia_west,south_asia,g77,33.00000,66.00000,1946-11-19,South Asia,Low income,NaN
1,ago,Angola,africa,europe_east,europe_central_asia,others,41.00000,20.00000,1955-12-14,Europe & Central Asia,Upper middle income,NaN
2,ben,Benin,africa,africa_north,middle_east_north_africa,g77,28.00000,3.00000,1962-10-08,Middle East & North Africa,Upper middle income,NaN
3,bwa,Botswana,africa,europe_west,europe_central_asia,others,42.50779,1.52109,1993-07-28,Europe & Central Asia,High income,NaN
4,bfa,Burkina Faso,africa,africa_sub_saharan,sub_saharan_africa,g77,-12.50000,18.50000,1976-12-01,Sub-Saharan Africa,Lower middle income,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
192,swe,Sweden,europe,east_asia_pacific,east_asia_pacific,g77,16.16667,107.83333,1977-09-20,East Asia & Pacific,Lower middle income,NaN
193,che,Switzerland,europe,asia_west,middle_east_north_africa,g77,15.50000,47.50000,1947-09-30,Middle East & North Africa,Lower middle income,NaN
194,tur,Turkey,europe,africa_sub_saharan,sub_saharan_africa,g77,-14.33333,28.50000,1964-12-01,Sub-Saharan Africa,Lower middle income,NaN
195,ukr,Ukraine,europe,africa_sub_saharan,sub_saharan_africa,g77,-19.00000,29.75000,1980-08-25,Sub-Saharan Africa,Low income,NaN
196,gbr,United Kingdom,europe,africa_sub_saharan,sub_saharan_africa,NaN,7.50000,30.00000,2011-07-14,Sub-Saharan Africa,Low income,NaN

In [18]:
Refined_Col_Region = ['name', 'four_regions']
DF_RevRegions = DF_Regions[Refined_Col_Region]
display(DF_RevRegions)

               name four_regions
0           Algeria       africa
1            Angola       africa
2             Benin       africa
3          Botswana       africa
4      Burkina Faso       africa
..              ...          ...
192          Sweden       europe
193     Switzerland       europe
194          Turkey       europe
195         Ukraine       europe
196  United Kingdom       europe

[197 rows x 2 columns]

In [19]:
DF_RevRegions.rename(columns= {'name':'country'}, inplace= True)
DF_RevRegions.rename(columns= {'four_regions':'region'}, inplace= True)
display(DF_RevRegions)

/Users/OliverHirn/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

            country  region
0           Algeria  africa
1            Angola  africa
2             Benin  africa
3          Botswana  africa
4      Burkina Faso  africa
..              ...     ...
192          Sweden  europe
193     Switzerland  europe
194          Turkey  europe
195         Ukraine  europe
196  United Kingdom  europe

[197 rows x 2 columns]

In [20]:
DF_FinRegions = DF_RevRegions.replace({
     'Congo, Dem. Rep.':'Democratic Republic of the Congo',
    'Congo, Rep.': 'Republic of the Congo',
    'Kyrgyz Republic': 'Kyrgyzstan',
    'Slovak Republic': 'Slovakia'
})
display(DF_FinRegions)

            country  region
0           Algeria  africa
1            Angola  africa
2             Benin  africa
3          Botswana  africa
4      Burkina Faso  africa
..              ...     ...
192          Sweden  europe
193     Switzerland  europe
194          Turkey  europe
195         Ukraine  europe
196  United Kingdom  europe

[197 rows x 2 columns]

In [21]:
DF_FinRegions[DF_FinRegions['country']=='Slovakia']

      country  region
189  Slovakia  europe

In [22]:
DF_EmploymentRegion = DF_FinRegions.merge(DF_employment2015Revised,left_on='country',right_on='country',how='left', indicator = 'True')
display(DF_EmploymentRegion)

            country  region  Employment  True
0           Algeria  africa       0.368  both
1            Angola  africa       0.721  both
2             Benin  africa       0.689  both
3          Botswana  africa       0.593  both
4      Burkina Faso  africa       0.623  both
..              ...     ...         ...   ...
192          Sweden  europe       0.592  both
193     Switzerland  europe       0.649  both
194          Turkey  europe       0.458  both
195         Ukraine  europe       0.496  both
196  United Kingdom  europe       0.589  both

[197 rows x 4 columns]

In [23]:
pandas.set_option('display.max_rows', None)
pandas.set_option('display.max_columns', None)
pandas.set_option('display.width', None)
pandas.set_option('display.max_colwidth', None)

In [24]:
display(DF_EmploymentRegion)

                              country    region  Employment       True
0                             Algeria    africa       0.368       both
1                              Angola    africa       0.721       both
2                               Benin    africa       0.689       both
3                            Botswana    africa       0.593       both
4                        Burkina Faso    africa       0.623       both
5                             Burundi    africa       0.773       both
6                            Cameroon    africa       0.729       both
7                          Cape Verde    africa       0.538       both
8            Central African Republic    africa       0.671       both
9                                Chad    africa       0.672       both
10                            Comoros    africa       0.410       both
11   Democratic Republic of the Congo    africa       0.697       both
12              Republic of the Congo    africa       0.628       both
13                      Cote d'Ivoire    africa       0.563       both
14                           Djibouti    africa       0.555       both
15                              Egypt    africa       0.417       both
16                  Equatorial Guinea    africa       0.563       both
17                            Eritrea    africa       0.761       both
18                           Ethiopia    africa       0.785       both
19                              Gabon    africa       0.407       both
20                             Gambia    africa       0.537       both
21                              Ghana    africa       0.751       both
22                             Guinea    africa       0.615       both
23                      Guinea-Bissau    africa       0.671       both
24                              Kenya    africa       0.580       both
25                            Lesotho    africa       0.483       both
26                            Liberia    africa       0.546       both
27                              Libya    africa       0.428       both
28                         Madagascar    africa       0.850       both
29                             Malawi    africa       0.725       both
30                               Mali    africa       0.657       both
31                         Mauritania    africa       0.445       both
32                          Mauritius    africa       0.549       both
33                            Morocco    africa       0.443       both
34                         Mozambique    africa       0.590       both
35                            Namibia    africa       0.491       both
36                              Niger    africa       0.787       both
37                            Nigeria    africa       0.527       both
38                             Rwanda    africa       0.854       both
39              Sao Tome and Principe    africa       0.504       both
40                            Senegal    africa       0.542       both
41                         Seychelles    africa         NaN  left_only
42                       Sierra Leone    africa       0.555       both
43                            Somalia    africa       0.432       both
44                       South Africa    africa       0.409       both
45                              Sudan    africa       0.407       both
46                          Swaziland    africa         NaN  left_only
47                           Tanzania    africa       0.816       both
48                               Togo    africa       0.764       both
49                            Tunisia    africa       0.400       both
50                             Uganda    africa       0.694       both
51                             Zambia    africa       0.691       both
52                           Zimbabwe    africa       0.790       both
53                        South Sudan    africa       0.637       both
54                Antigua and Barbuda  americas         NaN  left_only
55                          Argentina  americas       0.557       both
56                            Bahamas  americas       0.666       both
57                           Barbados  americas       0.582       both
58                             Belize  americas       0.598       both
59                            Bolivia  americas       0.650       both
60                             Brazil  americas       0.587       both
61                             Canada  americas       0.610       both
62                              Chile  americas       0.582       both
63                           Colombia  americas       0.648       both
64                         Costa Rica  americas       0.564       both
65                               Cuba  americas       0.534       both
66                           Dominica  americas         NaN  left_only
67                 Dominican Republic  americas       0.627       both
68                            Ecuador  americas       0.642       both
69                        El Salvador  americas       0.590       both
70                            Grenada  americas         NaN  left_only
71                          Guatemala  americas       0.598       both
72                             Guyana  americas       0.507       both
73                              Haiti  americas       0.581       both
74                           Honduras  americas       0.647       both
75                            Jamaica  americas       0.578       both
76                             Mexico  americas       0.587       both
77                          Nicaragua  americas       0.633       both
78                             Panama  americas       0.635       both
79                           Paraguay  americas       0.664       both
80                               Peru  americas       0.738       both
81                St. Kitts and Nevis  americas         NaN  left_only
82                          St. Lucia  americas       0.516       both
83     St. Vincent and the Grenadines  americas       0.570       both
84                           Suriname  americas       0.497       both
85                Trinidad and Tobago  americas       0.606       both
86                      United States  americas       0.587       both
87                            Uruguay  americas       0.601       both
88                          Venezuela  americas       0.599       both
89                        Afghanistan      asia       0.491       both
90                          Australia      asia       0.611       both
91                            Bahrain      asia       0.708       both
92                         Bangladesh      asia       0.540       both
93                             Bhutan      asia       0.650       both
94                             Brunei      asia       0.630       both
95                           Cambodia      asia       0.843       both
96                              China      asia       0.665       both
97                               Fiji      asia       0.549       both
98                   Hong Kong, China      asia         NaN  left_only
99                              India      asia       0.521       both
100                         Indonesia      asia       0.629       both
101                              Iran      asia       0.381       both
102                              Iraq      asia       0.428       both
103                            Israel      asia       0.608       both
104                             Japan      asia       0.580       both
105                            Jordan      asia       0.340       both
106                        Kazakhstan      asia       0.674       both
107                          Kiribati      asia         NaN  left_only
108                       North Korea      asia       0.769       both
109                       South Korea      asia       0.602       both
110                            Kuwait      asia       0.689       both
111                        Kyrgyzstan      asia       0.577       both
112                               Lao      asia       0.777       both
113                           Lebanon      asia       0.438       both
114                          Malaysia      asia       0.623       both
115                          Maldives      asia       0.628       both
116                  Marshall Islands      asia         NaN  left_only
117             Micronesia, Fed. Sts.      asia         NaN  left_only
118                          Mongolia      asia       0.574       both
119                           Myanmar      asia       0.651       both
120                             Nauru      asia         NaN  left_only
121                             Nepal      asia       0.815       both
122                       New Zealand      asia       0.647       both
123                              Oman      asia       0.673       both
124                          Pakistan      asia       0.513       both
125                             Palau      asia         NaN  left_only
126                  Papua New Guinea      asia       0.682       both
127                       Philippines      asia       0.605       both
128                             Qatar      asia       0.874       both
129                             Samoa      asia       0.292       both
130                      Saudi Arabia      asia       0.525       both
131                         Singapore      asia       0.677       both
132                   Solomon Islands      asia       0.701       both
133                         Sri Lanka      asia       0.514       both
134                             Syria      asia       0.355       both
135                            Taiwan      asia         NaN  left_only
136                        Tajikistan      asia       0.531       both
137                          Thailand      asia       0.687       both
138                       Timor-Leste      asia       0.379       both
139                             Tonga      asia       0.589       both
140                      Turkmenistan      asia       0.631       both
141                            Tuvalu      asia         NaN  left_only
142              United Arab Emirates      asia       0.797       both
143                        Uzbekistan      asia       0.602       both
144                           Vanuatu      asia       0.669       both
145                         Palestine      asia       0.337       both
146                           Vietnam      asia       0.768       both
147                             Yemen      asia       0.324       both
148                           Albania    europe       0.468       both
149                           Andorra    europe         NaN  left_only
150                           Armenia    europe       0.489       both
151                           Austria    europe       0.567       both
152                        Azerbaijan    europe       0.623       both
153                           Belarus    europe       0.639       both
154                           Belgium    europe       0.489       both
155            Bosnia and Herzegovina    europe       0.338       both
156                          Bulgaria    europe       0.492       both
157                           Croatia    europe       0.443       both
158                            Cyprus    europe       0.533       both
159                    Czech Republic    europe       0.566       both
160                           Denmark    europe       0.582       both
161                           Estonia    europe       0.583       both
162                           Finland    europe       0.533       both
163                            France    europe       0.498       both
164                           Georgia    europe       0.600       both
165                           Germany    europe       0.575       both
166                            Greece    europe       0.399       both
167                          Holy See    europe         NaN  left_only
168                           Hungary    europe       0.511       both
169                           Iceland    europe       0.740       both
170                           Ireland    europe       0.546       both
171                             Italy    europe       0.426       both
172                            Latvia    europe       0.543       both
173                     Liechtenstein    europe         NaN  left_only
174                         Lithuania    europe       0.539       both
175                        Luxembourg    europe       0.554       both
176                    Macedonia, FYR    europe         NaN  left_only
177                             Malta    europe       0.513       both
178                           Moldova    europe       0.425       both
179                            Monaco    europe         NaN  left_only
180                        Montenegro    europe       0.403       both
181                       Netherlands    europe       0.597       both
182                            Norway    europe       0.621       both
183                            Poland    europe       0.524       both
184                          Portugal    europe       0.513       both
185                           Romania    europe       0.506       both
186                            Russia    europe       0.601       both
187                        San Marino    europe         NaN  left_only
188                            Serbia    europe       0.427       both
189                          Slovakia    europe       0.528       both
190                          Slovenia    europe       0.522       both
191                             Spain    europe       0.455       both
192                            Sweden    europe       0.592       both
193                       Switzerland    europe       0.649       both
194                            Turkey    europe       0.458       both
195                           Ukraine    europe       0.496       both
196                    United Kingdom    europe       0.589       both

In [ ]:
DF_EmploymentRegion[DF_EmploymentRegion['True']== "left_only"]

In [27]:
DF_EmploymentRegion.to_excel('OliverRegionEmploymentData.xlsx')
DF_EmploymentRegion.to_excel(r'/Users/OliverHirn/Desktop/OliverRegionEmploymentData.xlsx', sheet_name='Employment', index = False)